@media screen and (min-width:1200px){
    .main{
        .botones{
            max-width: 1000px;
            .cronometro{
               right: 155px;

            }
            .fill-border{
                width: 900px;
            }
          
        }
    }
}