@media screen and(min-width:1200px){
    .main{
        .create-gif{
            
            .contenedor-crear-gifo{
                margin-left: -104px;
                .border-bottom{
                    width: 700px;
                }
                .contenedor-viewer{
                    width:700px;
                }
            }
        }
    }
}