@keyframes opacidad {
    10%{opacity: 0.1;}
    25%{opacity: 0.5;}
    50%{opacity: 0.7;}
    100%{opacity: 1;}
    10%{opacity: 0.7;}
    25%{opacity: 0.5;}
    50%{opacity: 0.2;}
    100%{opacity: 0.1;}
    50%{opacity: 0.5;}
    100%{opacity: 1;}

}
.main{
    .botones{
        margin-top:30px;
        width: 100%;
        position: relative;
        width: 80%;
        margin: 0 auto;
        max-width: 775px;
        min-width: 775px;
        cursor: pointer;
        
        .cronometro{
            position: absolute;
            display: flex;
            right: 133px;
            bottom: 32px;
            .tiempo{
                display: none;
            }
            p{
                font-family: 'Montserrat';
                font-size: 15px;
                color: #572EE5;
                letter-spacing: 0;
                text-align: center;
                line-height: 22px;
                font-weight: 700;    
                body.dark &{
                    color: #ffffff;
                  
                }    
            }
    

            .repeat{
                font-family: 'Montserrat';
                font-size: 13px;
                color: #572EE5;
                letter-spacing: 0;
                text-align: center;
                font-weight: 700;
                border-bottom: 2px solid #5ED7C6 ;
                line-height: 15px;
                display: none;

            }
        }
       .steps{
           display: flex;
           justify-content: center;
           margin: 0 auto;
           margin-top: 30px;
           width: 20%;
        .step{
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Roboto';
            font-weight: 400;
            font-size: 18px;
            color: #572EE5;
            text-align: center;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            border:1px solid  #572EE5 ;
            margin: 0 auto;     

         
            body.dark &{
                background: #37383C;
                color: #ffffff;
                border: 1px solid #ffffff;
                &:hover{
                    background: #ffffff;
                    color: #37383C;
                }
            }
           

            
        }

        .step-actived{
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Roboto';
            font-weight: 400;
            font-size: 18px;
            text-align: center;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            border:1px solid  #572EE5 ;
            margin: 0 auto;
            background:#572EE5 ;
            color: #ffffff;
            transition: 0.5s ease-in-out;
            body.dark &{
                background: #37383C;
                color: #ffffff;
                border: 1px solid #ffffff;
                &:hover{
                    background: #ffffff;
                    color: #37383C;
                }
            }
            }

       }
       .pelicula{
           width: 149px;
           height: 88px;
           background: url('/assets/pelicula.svg');
           background-repeat: no-repeat;
           position: absolute;
           right: -70px;
           top: -40px;
           body.dark &{
               background: url('/assets/pelicula-modo-noc.svg');
               background-repeat: no-repeat;
           }
       }
       .fill-border{
           margin: 0 auto;
           margin-top: 20px;
           width: 600px;
           height: 8px;
           background: #572EE5;
           border-radius: 10px;
           body.dark &{
               background: #ffffff;
           }
       }
    }
    
    .start-stop{
        margin-top: 25px;
        .boton-comenzar{
            display: flex;
            width: 100%;
            justify-content: center;
            .comenzar{
                width: 127px;
                height: 50px;
                border: 1px solid #572EE5;
                border-radius: 25px;
                background:none ;
                font-family: 'Montserrat';
                font-size: 13px;
                color: #572EE5;
                letter-spacing: 0;
                text-align: center;
                font-weight: 700;
                transition: 0.5s ease all;
                &:hover{
                    background: #572EE5;
                    color: #ffffff;
                }
                body.dark &{
                    border:   1px solid #ffffff;
                    color: #ffffff;
                    background: #37383C;
                    &:hover{
                        color: #000000;
                        background: #ffffff
                    }
                }
            }
        }

        .boton-grabar, .boton-finalizar, .boton-upload {
            @extend .boton-comenzar;
            display: none;
            .grabar,.finalizar, .upload{
                @extend .comenzar;
            }
        }
    }
}