*{
    color: #000000;
    font-size: 16px;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Montserrat';
    font-weight: 700;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
    &.dark{
        background: #37383C;
    }
}


