@media screen and(min-width:1240px){
    .header{
        .contenedor{
            .nav-bar-logo{
                margin-left: 156px;
            }

            .menu{
                ul{
                    margin-right: 156px;
                }
                #btn-light{
                    display: none;
                }
            }
        }   
     }
}